.footer-small{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    &__realization{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span{
        transition: color .3s ease-in-out;
      }
      &:hover span{
        color: $color-main;
      }
      img{
        margin-left: 15px;
        max-width: 100px;
      }
    }
}


.footer {
  height: calc(100vh + 220px);
  min-height: 650px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 115px;

  &__large-logo {
    width: 25vw;
    margin-top: 120px;
  }

  &__contacts {
    background: $bg-trans-rev;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__est-adr {
    width: 190px;
  }

  &__offices {
    max-width: 850px;
    width: 100%;

    &-adr {
      display: flex;
      justify-content: space-between;
    }
  }

  p {
    font-size: rem(14px);
    margin-bottom: 0;
  }

  h4 {
    font-size: rem(19px);
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  * {
    color: white;
  }
}