==
use \Cms\Classes\Page;
function onStart()
{
    $this['pages'] = Page::get();
}
==

<div class="footer lazy post delay1" data-bg="{{ this.theme.footer_bg.path }}">
    <img class="footer__large-logo padding-container-left post delay2 lazy" data-src="{{ this.theme.footer_logo.path }}" alt="">

    <div class="footer__contacts padding-container">
        <div class="footer__est-adr post delay1">
            <h4>Lokalizacja osiedla:</h4>
            <p>ul. Jerzego Janosika 2, 2A</p>
            <p>71-424 Szczecin</p>
        </div>
        <div class="footer__offices post delay2">
            <h4>Biuro sprzedaży:</h4>
            <div class="footer__offices-adr">
                <img class="lazy" data-src="{{ this.theme.smalllogo.path }}" alt="Master House">
                <div>
                    <p>Lutniana 38/70</p>
                    <p>71-425 Szczecin</p>
                </div>
                <div>
                    <p><a href="tel:">539 96 96 96</a></p>
                    <p><a href="mailto:">office@master-house.com.pl</a></p>
                </div>
                <div>
                    <p>Pn - pt 08:00 - 16:00</p>
                    <p><a href="www.master-house.com.pl">www.master-house.com.pl</a></p>
                     
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-small padding-container">
    <a href="/rodo">polityka rodo</a>
    <div class="footer-small__copyright">
        {{ this.theme.footer_name }} © {{"now"|date("Y")}}
    </div>
    {% if this.theme.footer_realization %}
        <a class="footer-small__realization" href="https://www.ssi.com.pl/" title="SSI - agencja interaktywna" target="_blank">
            <span>realizacja strony:</span>
            <img src="{{'assets/images/ssi.png'|theme}}" alt="SSI - agencja interaktywna">
        </a>
    {% else %}
        <a class="footer-small__realization" href="http://hotelio.biz/" title="Hotelio" target="_blank">
            <span>realizacja strony:</span>
            <img src="{{'assets/images/dewelo.png'|theme}}" alt="Dewelo">
        </a>
    {% endif %}
</div>
