[staticMenu mainMenu]
code = "menu-glowne-pl"
==

<a class="header__logo" href="{{ 'home' | page }}">
    {% if this.page.settings.layout == 'homepage' %}
        {% partial 'svg/logo' %}
    {% else %}
        <img src="{{this.theme.subsite_logo.path}}" alt="{{'Strona główna'|_}}">
    {% endif %}
</a>

<nav class="header__nav {{ this.theme.header_fullscreen_menu ? 'header__nav--fullscreen' }}">
    {% component 'mainMenu' %}
</nav>

<div class="header__hamburger {{ this.theme.header_fullscreen_menu ? 'header__hamburger--fullscreen' }}">
    <span></span>
    <span></span>
    <span></span>
</div>